<!DOCTYPE html>
<html>
  <head>
    <title>Kakapo Cohort</title>
  </head>
  <body>
    <ul>
    {{#each cohort}}
      <a href='/cohort/{{id}}'><li>{{name}}</li></a>
    {{/each}}
    </ul>
  </body>
</html>
