<!DOCTYPE html>
<html>
<head>
  <title>Kakapo Cohort</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
 <br>
  <a href="/home">Home</a>

  <h1>Create your profile!</h1>

  <form action = '/cohort' method = 'post'>
    <input type = 'text' name = 'name' placeholder='Enter your name!'><br><br>
    <input type = 'text' name = 'food' placeholder='Enter your favourite food!'><br><br>
    <input type = 'text' name = 'hobbies' placeholder='Enter your hobbies!'><br><br>
    <button type="submit" class="submit">Submit</button><br>

  </body>
  </html>
