
<!DOCTYPE html>
<html>
  <head>
    <title>Create your profile</title>
  </head>
  <body>
    <h1>Create your profile!</h1>
    <form action = '/form' method = 'post'>
      <input type = 'text' name = 'name' placeholder='Enter your name!'><br><br>
      <input type = 'text' name = 'food' placeholder='Enter your favourite food!'><br><br>
      <input type = 'text' name = 'hobbies' placeholder='Enter your hobbies!'><br><br>
      <input type = 'text' name = 'birthday' placeholder='Enter your birthday!'><br><br>
      <button type="submit">Submit</button>
  </body>
</html>
