<!DOCTYPE html>
<html>
<head>
  <title>Kakapo Cohort</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1> Get to know Kakapo! </h1>
  <br><a href="/cohort">See all Profiles</a>
  <a href="/form">Create your Profile</a><br> <br>
  <img src="http://kakaporecovery.org.nz/wp-content/uploads/2012/12/Kuia.jpg" width="400px" height="400px"><br>
</body>
</html>
