<!DOCTYPE html>
<html>
  <head>
    <title>Kakapo Cohort</title>
  </head>
  <body>
      My name is {{name}}<br>
      My favourite food is {{food}}<br>
      My hobbies are {{hobbies}}<br>
  </body>
</html>
