<!DOCTYPE html>
<html>
  <head>
    <title>Kakapo Cohort</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h1>{{name}}'s Profile</h1><br>
    <a href="/home">Home</a>
    <a href="/form">Create Another Profile</a>
    <a href="/cohort">See Your Flock</a><br><br>
    <img src="https://docnz.files.wordpress.com/2011/09/birthday-sirocco.jpg" width="400px" height="400px"><br><br>

    <p>
      My name is {{name}}<br>
      My favourite food is {{food}}<br>
      My hobbies are {{hobbies}}<br><br>
    </p>

  </body>
</html>
